<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>

  <div class="container">
    <div class="row">
      <div class ="col-2">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link" aria-current="page" href="/writing">Writing</a>
          <a class="nav-link active" href="/about">About</a>
          <a class="nav-link" href="/books">Books</a>
          <a class="nav-link" href="/now">Now</a>  
        </nav>
      </div>

      <div class ="col-10">
        <p>Hi, I’m Nick. I’m a writer and amateur programmer.</p>
        <p>These days, I’m a student at the University of Chicago Booth School of Business. I'm exploring entrepreneurship, venture capital, and a variety of other interests. I'm also doing my best to leave time for social activities.</p>
        <p>Follow the Frigate is a personal blog where I intend to share my writings and interests. Writing is largely a personal hobby, I'm hoping to take the next step with my writing by publishing it in the public eye. I hope this blog will serve as a tool to record and refine my thinking.</p>
        <p>"Follow the Frigate" is an homage to my favorite bird. It often reminds me of where I grew up and fishing (one of my favorite things to do). More importantly, the mighty Frigate Bird is a metaphor for living life and exploring interests. <a href="https://www.youtube.com/watch?v=szuchBiLrEM">Here's</a> a cool video if you're interested in learning more about the Frigate Bird. It will also be the subject of my first blog post, so stay tuned!</p>
        <p>I purchased the domain <a href = "http://www.followfrigate.com/">followfrigate.com</a> and deployed it via Heroku. I had a few test blogs populated in the bin/server version of my blog. Unfortunately, as you can tell by the blank /writing url, I'm having trouble getting my database to deploy into the Heroku hosted site.</p>
        <hr>
        <p>Personal: [xxx] -at- [xxx].com</p>
        <p>School: [xxx] -at- [xxx].edu</p>
      </div>
    </div>
  </div>

  </body>
</html>
