<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>

  <div class="container">
    <div class="row">
      <div class ="col-2">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link" aria-current="page" href="/writing">Writing</a>
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link active" href="/books">Books</a>
          <a class="nav-link" href="/now">Now</a>  
        </nav>
      </div>

      <div class ="col-10">
        <p>Books I am currently reading:</p>
        <p>This will be a table (similar to the blog post table I created in the "Writing" URL). The table will contain books I am currently reading, books I have read, and some of my favorite aspects of the books.</p>
      </div>
    </div>
  </div>

  </body>
</html>
