<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>

  <div class="container">
    <div class="row">
      <div class ="col-2">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link" aria-current="page" href="/writing">Writing</a>
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="/books">Books</a>
          <a class="nav-link active" href="/now">Now</a>  
        </nav>
      </div>

      <div class ="col-10">
        <h3>What I'm doing now</h3>
          <h5>Where:</h5>
            <p>Chicago! Living in the Windy City is great, except when it's windy. There’s no shortage of things to do, friends to see, and areas to explore. My wife and I enjoy checking out new restaurants and going for long walks (when the weather allows).</p>
          <h5>School:</h5>
            <p>I'm a student at the Chicago Booth School of Business. Returning to the classroom was a bit of an adjustment, but I am enjoying it! I'm doing my best to explore my interests and passions. Learning how to code and building this blog fit into this bucket!</p> 
            <p>On the topic of blog, I would be remiss if I did not acknowledge my inspiration for Follow the Frigate's layout (<a href="https://snowingpine.com/">snowingpine.com</a>). Check Richard's site out if you're interested.</p>
          <h5>Favorite quote</h5>
            <p>[TBD....]</p>
      </div>
    </div>
  </div>

  </body>
</html>
