<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>

  <div class="container">
    <div class="row">
      <div class ="col-2">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link" aria-current="page" href="/writing">Writing</a>
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="/books">Books</a>
          <a class="nav-link active" href="/now">Now</a>  
        </nav>
      </div>

      <div class ="col-10">
        <h3>What I'm doing now</h3>
          <h5>Where:</h5>
            <p>Sunny San Francisco (though it’s raining right now). Living in SF is great. There’s stuff to do, friends to see, and trails to explore. It’s great until the bill comes at the end of the month. Then, I want to escape to Montana and live off $2 eggs for the rest of my life.</p>
          <h5>Work:</h5>
            <p>Quill - writing content for startups to tell their stories and find organic traction. Working as a consultant/contractor is a relatively new experience for me. It feels a bit like watching a movie, you’re close enough to see all the details but far enough to not spend sleepless nights worrying about problems. It’s perfect.</p>
          <h5>Favorite quote</h5>
            <p>“I weave words into a wholesome web of winter wildflowers.” - Vivian Hindsgaul</p>
      </div>
    </div>
  </div>

  </body>
</html>
